/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

header {
    background: #439fe0; /* Old browsers */
    color: white;
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #006FAF;
    width: 100%;
}

header em {
    display: block;
    font-style: normal;
    padding-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pathway Gothic One', sans-serif;
}

h1 {
    font-size:35px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.centre-on-page {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.search-code {
    background-color: #3d4b5b;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.search-code h2 {
    color: white;
    margin-top: 0;
    text-shadow: 1px 1px 1px black;
}

.search-code input {
    border: none;
    font-family: 'Pathway Gothic One', sans-serif;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    margin-bottom: 3px;
    padding: 5px;
    text-align: center;
    font-size: 23px;
}

.alert {
    margin-top: 20px;
    background-color: whitesmoke;
    padding: 20px;
}

.error-results {
    background-color: whitesmoke;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    list-style: none;
    margin: auto;
    padding: 0;
    width: 100%;
}

.error-results li {
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid white;
    cursor: pointer;
    padding: 10px 20px;
}

.error-results li:hover {
    background-color: rgb(223, 218, 218);
}
